<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Adicionar Novo Registro <button class="btn" (click)="voltar()">Voltar</button></h1>

            <form #formUsuario="ngForm" (ngSubmit)="onSubmit()">
                <div class="input-field col s6">
                    <input #name="ngModel" required placeholder="Nome" [(ngModel)]="usuario.name" name="name" id="first_name" type="text" class="validate">
                    <label for="first_name">Nome:</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="E-mail" [(ngModel)]="usuario.email" name="email" id="first_name" type="text" class="validate">
                    <label for="first_name">E-mail:</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="CPF" [(ngModel)]="usuario.cpf" name="cpf" id="first_name" type="text" class="validate">
                    <label for="first_name">CPF:</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="RG" id="first_name" [(ngModel)]="usuario.rg" name="rg" type="text" class="validate">
                    <label for="first_name">RG:</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Qtde Filhos" id="first_name" [(ngModel)]="usuario.qtdChildrens" name="qtdChildrens" type="text" class="validate">
                    <label for="first_name">Qtde Filhos</label>
                </div>

                <div class="col s12">
                    <button class="btn" [disabled]="!formUsuario.valid" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>