<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of usuarios; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td><button (click)="selectUsuario(item)" class="btn primary">Detalhes</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-detalhe-usuario *ngIf="selectedUsuario" (fecharDetalhe)="unselectUsuario($event)" [usuario]="selectedUsuario"></app-detalhe-usuario>